[submodule "ride-request"]
	path = ride-request
	url = https://github.com/hendafarhani/ride-request.git
	branch = main
[submodule "centralized-config"]
	path = centralized-config
	url = https://github.com/hendafarhani/centralized-config.git
	branch = main
[submodule "discovery"]
	path = discovery
	url = https://github.com/hendafarhani/discovery.git
	branch = main
[submodule "gateway"]
	path = gateway
	url = https://github.com/hendafarhani/gateway.git
	branch = main
[submodule "location-saver"]
	path = location-saver
	url = https://github.com/hendafarhani/location-saver.git
	branch = main
[submodule "outbox-publisher-service"]
	path = outbox-publisher-service
	url = https://github.com/hendafarhani/outbox-publisher-service.git
	branch = main
[submodule "mysql-init"]
	path = mysql-init
	url = https://github.com/hendafarhani/mysql-init.git
	branch = main
[submodule "dashboard-service"]
	path = dashboard-service
	url = git@github.com:hendafarhani/dashboard-service.git
	branch = main
[submodule "driver-location-generator"]
	path = driver-location-generator
	url = https://github.com/hendafarhani/driver-location-generator.git
	branch = main
[submodule "driver-location-streamer"]
	path = driver-location-streamer
	url = git@github.com:hendafarhani/driver-location-streamer.git
	branch = main
[submodule "optimization-service"]
	path = optimization-service
	url = git@github.com:hendafarhani/optimization-service.git
	branch = main
[submodule "simulation-service"]
	path = simulation-service
	url = git@github.com:hendafarhani/simulation-service.git
	branch = main
[submodule "postgres-init"]
	path = postgres-init
	url = git@github.com:hendafarhani/postgres-init.git
	branch = main
